

.h1{color: blueviolet;}
  
.nav{text-align-last: right;  color: red;}
  
h3{color: red;text-align: center;}

h2{text-align: center;}

 
img{max-width: 200px;
     max-height: 200px;
    }

.parrafoImagen1 {text-align: left;}

.imagen1 {background-position: right;}
